<h5>【タスク一覧】</h5>
<%= link_to "タスクの追加", new_project_task_path(@project) %>
  <table class="table">
    <tr>
	  <th>Title</th>
	  <th>Description</th>
	  <th>Due</th>
    </tr>
    <% @project.tasks.each do |task| %>
    <tr>
	  <td><%= task.title %></td>
	  <td><%= task.due %></td>
	  <td><%= task.content %></td>
    </tr>
    <% end %>
  </table>
