<h5>【タスク一覧】</h5>
  <table class="table">
    <tr>
	  <th>Title</th>
	  <th>Description</th>
	  <th>Due</th>
    </tr>
    <% @project.tasks.each do |report| %>
    <tr>
	  <td><%= task.title %></td>
	  <td><%= task.text %></td>
	  <td><%= task.due %></td>
    </tr>
    <% end %>
  </table>
