<h1>Dashbords</h1>
<p>トップ画面。全情報を網羅的に表示する。ログインするとこのページに飛ぶ</p>
<h3><%= link_to 'プロジェクト一覧', controller: 'projects' %></h3>
<h3><%= link_to 'メンバー一覧', controller: 'users' %></h3>
<h3><%= link_to '連絡', static_pages_contact_path() %></h3>
<h3><%= link_to '使い方Wiki', static_pages_usage_path() %></h3>
