<h5>関連ユーザー</h5>
<table class="table">
  <tr>
	<th>Name</th>
	<th>Generation</th>
	<th>Email</th>
  </tr>
  <% @materials_users.each do |user| %>
  <tr>
	<td><%= user.name %></td>
	<td><%= user.generation %></td>
	<td><%= user.email %></td>
  </tr>
  <% end %>
</table>
