<h5>【レポート一覧】</h5> <%= link_to "レポートの追加", new_project_report_path(@project) %>
  <table class="table">
    <tr>
	  <th>Title</th>
	  <th>Description</th>
	  <th>Author</th>
    </tr>
    <% @reports.each do |report| %>
    <tr>
	  <td><%= link_to report.title, project_report_path(@project, report) %></td>
	  <td><%= report.text %></td>
	  <td><%= report.user_id %></td>
    </tr>
    <% end %>
  </table>
