<div id="footer"  style="background-color:#2c3e50;">
<footer>
<div class="container-fluid",  style="background-color:#2c3e50;">
  <div class="row">
    <div class="col-md-12">

      <br>
	  <div class="footer-logo text-inverse text-center">TeamManager</div>

    </div>
  </div>
</div>
</footer>
</div>
