<div id="footer" style="background: #656d78; height: 100px;">
<footer>
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <br><br>
      <div class="footer-logo">TeamManager</div>

    </div>
  </div>
</div>
</footer>
</div>
