<h1>Listing Projects</h1>
<%= link_to '新規プロジェクトの作成', new_project_path %> 
<table class="table table-default">
  <tr>
    <th>プロジェクト名</th>
    <th>概要</th>
	<th>PM</th>
  </tr>
 
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.title %></td>
      <td><%= project.description %></td>
	  <td>PMの名前</td>
    </tr>
  <% end %>
</table>
